
	<form 
		class="form-horzontal" 
		id="add_department_form"
		style="margin-bottom: 0px;"
		method="post"
		action="https://webaddress/~*Mid*/private/Capstone/processing.php"
	>
	
	<input type="hidden" name="form_add_department" value="1" />
	
	<div class="form-group">
		<label class="col-md-4">Enter new department name: </label>
		<div class="col-md-6">
		<input class="form-control" name="department_name" type="text" autofocus required> 
		</div>
	</div>
	
	<br>

	<div class="modal-footer">
		<button id="create_employee_submit" type="submit" class="btn btn-default btn-sm" >Submit</button>
		<button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
	</div>
	
	
</form>
