<ul class="list-group">
  <li class="list-group-item" id="create_employee_action" data-toggle="modal" data-target="#myModal">Create Employee</li>
  <li class="list-group-item" id="assign_shift_action" data-toggle="modal" data-target="#myModal">Assign Shift</li> 
  <li class="list-group-item" id="add_department_action" data-toggle="modal" data-target="#myModal">Add Department</li>
  <li class="list-group-item" id="phone_book_action" data-toggle="modal" data-target="#myModal">Phonebook</li>
  <li class="list-group-item" id="required_on_shift_action" data-toggle="modal" data-target="#myModal">Required On Shift</li>
</ul>