<form
  class="form-horzontal"
  id="finalize_swap_form"
  style="margin-bottom: 0px;"
  method="post"
  action="https://csunix.mohawkcollege.ca/~*Mid*/private/Capstone/processing.php"
>

<input type="hidden" value="1" name="swap_finalize_input">
<input type="hidden" value="{{shift1}}" name="Initiator_Shift_ID">
<input type="hidden" value="{{shift2}}" name="Receiver_Shift_ID">
<input type="hidden" value="{{swapNumber}}" name="Swap_ID">


<div class="form-group">
<label class="col-md-6">Do you approve of the proposed swap number {{swapNumber}} between {{myName}} and {{theirName}}?</label>
  <div class="col-md-6">
  <select required name="select_finalize" id="select_finalize">
    <option value="">Select an Option</option>
    <option value="1">Yes</option>
    <option value="2">No</option>
  </select>
  </div>
  <br>
</div>

<br>

<div class="modal-footer">
  <button id="swap_submit" type="submit" class="btn btn-default btn-sm" >Submit</button>
  <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
</div>


</form>
