<table class="table table-condensed">
	<thead>
		<td><b>Name</b></td>
		<td><b>Phone</b></td>
		<td><b>Notes</b></td>
	</thead>
	{{#phonebook}}
	<tr>
		<td>{{EMP_NAME}}</td>
		<td>{{EMP_PHONE}}</td>
		<td>{{NOTES}}</td>
	</tr>
	{{/phonebook}}
</table>
