<ul class="list-group">
  <li class="list-group-item" class="user_action_button" id="new_pass_action" data-toggle="modal" data-target="#myModal">Change Password</li>
  <li
  	class="list-group-item"
  	class="user_action_button"
  	id="shift_swap_request_action"
  	data-toggle="modal"
  	data-target="#myModal">Shift Swap</li>
  </li></a>
</ul>
